@page

@model ChatterBox.Application.Areas.Main.Pages.IndexModel;

@{
    var currentUser = (await Model.GetCurrentUserAsync());
    var targetUser = (await Model.GetCurrentUserAsync());
    var selectedUser = (await Model.GetCurrentUserAsync());
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/main.css" rel="stylesheet" />



<div class="align-center">
    <div class="d-flex w-75 chat-container">
        <div class="p-0 group">
            <div class="group-top align-center">
                <button type="button" class="btn btn-secondary rounded-circle users-btn"><i class="fa-solid fa-list"></i></button>
            </div>

        </div>

        <div class="p-0 users" id="userList">
            <div class="users-top d-flex flex-row justify-content-center">
                <div class="input-group search">
                    <input type="text" id="searchInput" class="form-control" placeholder="Search..." oninput="searchUsers(this.value)">
                    <button class="input-group-text"><i class="fa fa-search"></i></button>
                </div>
            </div>

            <div class="users-bottom">
                @foreach (var user in Model.GetUsers())
                {
                    <ul class="list-unstyled chat-list mt-2 mb-0">
                        <li class="d-flex flex-row user-item">
                        <img src="~/img/profile-circle.svg" alt="avatar" class="profile-circle-img">

                        <div class="about">
                            <div class="name">@user.UserName</div>

                    <div class="status">
                        <i class="fa fa-circle @(user.Online ? "online" : "offline")">
                    </i>

                    @(user.Online ? "Online" : "Offline")
                        </div>
                        </div>
                        </li>
                    </ul>
                }
            </div>
        </div>

        <div class="p-0 chat">
            <div class="chat-top align-center-end">
                <div class="d-flex flex-row m-2">
                    <img src="~/img/profile-circle.svg" alt="avaStar" class="profile-circle-img">
                    <div class="align-column-center">
                        <h6 class="m-0">@targetUser.UserName</h6>

                        <small>@((await Model.IsOnline(targetUser)) ? "Online" : "Offline")</small>
                    </div>
                </div>
            </div>

            <div class="chat-middle align-center">
                <ul id="messages" class="align-column-center mt-3 user-list">
                    @foreach (var message in Model.GetChatMessages())
                    {

                        @if (message.SenderId == currentUser.Id)
                        {
                            <li class="clearfix w-75">
                                <div>
                                    <div class="message other-message w-100">@message.Text</div>

                                    <div class="message-data w-100 align-center-end">
                                        <span class="message-data-time">@message.DateSent.ToString("h:mm tt")</span>
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="clearfix w-75">
                                <div class="message my-message  w-100">@message.Text</div>

                                <div class="message-data">
                                    <span class="message-data-time">@message.DateSent.ToString("h:mm tt")</span>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>

            <div class="chat-bottom align-center">
                <div class="input-group mb-0 w-75">
                    <input type="text" id="inputMessage" class="form-control" placeholder="Enter text here...">

                    <button id="pickEmote" class="btn fa-solid fa-smile-beam"></button>

                    <button id="sendButton" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/signalRHandler.js"></script>
<script src="~/js/chatHandler.js"></script>
<script src="~/js/emoteHandler.js"></script>
<script src="~/js/userSearch.js"></script>
<script>
    $(document).ready(function() {
        $('.users-btn').click(function () {
            $('#userList').slideToggle();
        });
    });
</script>
