@page
@using Microsoft.AspNet.Identity
@model ChatterBox.Application.Areas.Main.Pages.IndexModel;

@{
    ViewData["Title"] = "Chat";
}

<link href="~/css/main.css" rel="stylesheet"/>
<link href="~/lib/magnific-popup/magnific-popup.css" rel="stylesheet"/>

<div class="d-flex justify-content-center w-100 h-100 extra-chat-margin">
    <div class="d-flex chat-container">
        <div class="p-0 groups">
            <div class="group-top align-center">
                <button id="context-home-button" type="button" class="btn btn-secondary rounded-circle btn-sized">
                    <i class="fa-solid fa-house"></i>
                </button>
            </div>

            <div class="group-middle overflow-hidden">
                @foreach (var group in Model.GetGroupsJoined())
                {
                    <div class="d-flex group-icon justify-content-center align-items-center position-relative context-groups-list-group"
                         data-own-id="@group.Id"
                         data-own-owner-id="@group.OwnerId"
                         data-own-name="@group.Name"
                         data-unread="false">
                        <button type="button" class="btn btn-light rounded-circle btn-sized">
                            <i class="fa-solid fa-layer-group"></i>
                        </button>

                        <div class="position-absolute listed-group-name">
                            @group.Name
                        </div>
                    </div>
                }
            </div>

            <div class="group-bottom align-center">
                <button id="context-groups-button" type="button" class="btn btn-secondary rounded-circle btn-sized">
                    <i class="fa-solid fa-user-group"></i>
                </button>
            </div>
        </div>

        <div class="p-0 users" id="users-container">
            <div class="users-top d-flex flex-row justify-content-center">
                <div class="input-group search">
                    <input type="text" class="form-control" placeholder="Search..." id="user-search-input">
                </div>
            </div>

            <div class="users-middle">
                <ul class="list-not-styled chat-list mt-2 mb-0">
                    @foreach (var userMapped in Model.GetUsers())
                    {
                        if (userMapped.User.Id != HttpContext.User.Identity.GetUserId())
                        {
                            <li class="d-flex flex-row context-users-list-user"
                                data-own-id="@userMapped.User.Id"
                                data-own-name="@userMapped.User.UserName"
                                data-online="@userMapped.Online.ToString().ToLower()"
                                data-unread="false">
                                <button class="w-100 d-flex user">
                                    <img src="@userMapped.AvatarLink"
                                         alt=""
                                         class="rounded-circle avatar @(userMapped.Online ? "avatar-online" : "avatar-offline")">

                                    <div class="d-flex flex-column justify-content-center">
                                        <div class="justify-content-start">
                                            @userMapped.User.UserName
                                        </div>
                                    </div>
                                </button>
                            </li>
                        }
                    }
                </ul>
            </div>

            <div class="align-center users-bottom">
                <div class="d-flex w-75">
                    <img id="context-own-avatar"
                         src="@Model.CurrentUser.AvatarLink"
                         alt=""
                         class="rounded-circle avatar @(Model.CurrentUser.Online ? "avatar-online" : "avatar-offline")">

                    <div class="d-flex flex-column justify-content-center">
                        <div class="justify-content-start">
                            @Model.CurrentUser.User.UserName
                        </div>
                    </div>
                </div>

                <a href="/Identity/Account/Manage">
                    <button type="button" class="btn btn-secondary rounded-circle settings-btn align-center">
                        <i class="fa-solid fa-gear"></i>
                    </button>
                </a>
            </div>
        </div>

        <div class="p-0 chat">
            <div class="chat-top align-center">
                <div class="d-flex flex-row m-2 justify-content-center align-items-center w-100">
                    <div class="d-flex justify-content-center align-items-center position-relative">
                        <div class="justify-content-start">
                            <span id="context-target-name" class="fw-bolder">
                            </span>
                        </div>
                    </div>

                    <button id="group-more-button" class="btn btn-secondary rounded-circle btn-sized position-absolute">
                        <item class="fa-solid fa-ellipsis fa-xl"></item>
                    </button>
                </div>
            </div>

            <div class="d-flex chat-middle justify-content-center w-100">
                <div id="context-messages-parent" class="d-flex flex-column mt-3 w-75 justify-content-center align-items-center">
                    <div id="context-messages" class="d-flex flex-column w-100 align-items-center">
                        @* Should be empty *@
                    </div>
                </div>
            </div>

            <div class="chat-bottom align-center">
                <div class="input input-group mb-0 w-75 justify-content-between">
                    <input id="context-input-text" type="text" class="form-control rounded" placeholder="Write...">

                    <div class="d-flex input-buttons justify-content-between align-items-center">
                        <text-input id="context-input-emote" class="text-input fa-regular fa-smile-beam fa-xl"></text-input>

                        <text-input id="context-input-file" class="text-input fa-solid fa-file-arrow-up fa-xl"></text-input>
                    </div>

                    <div class="d-flex input-end justify-content-end">
                        <button id="context-button-send" class="btn btn-primary rounded w-75">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<dialog id="wrong-input-file-dialog" class="dialog-text-error">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="fw-bolder">
            Your chosen file is not a image, only images are accepted (.jpg, .png, .gif, ...)
        </div>

        <div>
            Press anywhere to close the popup
        </div>
    </div>
</dialog>

<dialog id="groups-dialog" class="group-container w-75">
    <div class="row h-100 position-relative">
        <div class="join-group w-50 text-center">
            <div class="join-header d-flex align-items-center justify-content-center">
                All groups
            </div>

            <div class="join-group-list d-flex flex-column align-items-center w-100">
                @{
                    // need to update the list dynamically <<<<
                    foreach (var group in Model.GetGroups())
                    {
                        <div class="group d-flex flex-row w-75">
                            <div class="group-name d-flex flex-column justify-content-center w-100">@group.Name</div>

                            <button
                                data-group-id="@group.Id"
                                class="group-btn group-@(group.Joined ? "joined" : "join")-btn">
                                @(group.Joined ? "Joined" : "Join")
                            </button>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="w-50">
            <div class="create-header text-center d-flex align-items-center justify-content-center">
                Create your group
            </div>

            <div class="create-group-container mt-3 w-100 d-flex flex-column align-items-center justify-content-around">
                <div class="input-group input-group-sm mb-3 w-75">
                    <input
                        id="group-creation-name"
                        type="text"
                        class="form-control"
                        aria-label="Small"
                        aria-describedby="inputGroup-sizing-sm"
                        placeholder="Group name..."/>
                </div>

                <div class="w-100 d-flex flex-column align-items-center justify-content-center">
                    <button id="group-creation-submit" type="button" class="btn btn-success">Create</button>

                    <span class="mt-2 text-danger" id="group-creation-submit-info"></span>
                </div>
            </div>
        </div>

        <button id="context-groups-close" class="btn btn-close position-absolute rounded-circle"></button>
    </div>
</dialog>

<dialog id="group-more-dialog" class="position-relative w-50">
    <div class="d-flex container justify-content-center align-items-center">
        <div class="d-flex flex-row w-100">
            <div id="group-more-left-outer-container" class="d-flex col-6 col-md-6 flex-column justify-content-center align-items-center">
                <h4 class="align-center">
                    Group Name
                </h4>

                <div class="flex-column w-100">
                    <div id="group-more-left-container" class="d-flex w-100 justify-content-center align-items-center">
                        <div class="input-group input-group-sm w-50">
                            <input
                                id="group-change-name"
                                class="input form-control rounded"
                                aria-label="Small"
                                aria-describedby="inputGroup-sizing-sm"
                                type="text"
                                value=""
                                placeholder="Group name..."/>
                        </div>

                        <button id="group-change-name-button" class="btn btn-sm btn-primary m-2 w-50">Change Name</button>
                    </div>

                    <span id="group-more-change-name-info" class="text-danger"></span>
                </div>
            </div>

            <div class="d-flex col-6 col-md-6 flex-column justify-content-center align-items-center">
                <h4 id="header-of-group-more-leave-delete" class="align-center">
                    Leave/Delete Group
                </h4>

                <div id="group-more-right-container" class="d-flex w-100 justify-content-center align-items-center">
                    <button id="group-leave-button" class="btn btn-sm btn-danger m-2 w-75">Leave</button>

                    <button id="group-delete-button" class="btn btn-sm btn-danger m-2 w-75">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <button id="group-more-dialog-close" class="btn btn-close position-absolute"></button>
</dialog>

<context
    id="context-data"
    data-chat-type=""
    data-target-owner-id=""
    data-target-id=""
    data-target-name=""
    data-user-id="@Model.CurrentUser.User.Id"
    data-user-username="@Model.CurrentUser.User.UserName">
</context>

<script src="~/js/constants.js"></script>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/handlers/signalRHandler.js"></script>
<script src="~/js/handlers/chatHandler.js"></script>
<script src="~/js/handlers/groupsHandler.js"></script>
<script src="~/js/handlers/userConnectionHandler.js"></script>
<script src="~/js/handlers/emotesHandler.js"></script>
<script src="~/js/handlers/userSearchHandler.js"></script>
<script src="~/js/handlers/imagesHandler.js"></script>
<script src="~/lib/magnific-popup/jquery.magnific-popup.min.js"></script>